<div class="home">
    <div class="search-flight">
        <div class="background">
            <img class="w-100" src="../../../assets/image/Không có tiêu đề.png" alt="background" />
        </div>
        <div class="content w-100">
            <div class="text">
                <div class="content_text d-flex">
                    <span>Hello</span>
                    <span>Where are</span>
                    <span>You <span class="bold-blue">flying</span> to...</span>
                </div>
            </div>
        </div>
        <app-search></app-search>
    </div>

</div>