@import "../../../sass/Base/customize";
@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";
@import "../../../sass/Components/button";

.shedule {
  background: #f4f2f9;
  .search {
    background: white;
    padding: 20px 0;
    .place {
      flex-direction: row;
      justify-content: space-between;
    }
    .choose_type {
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      align-items: center;
    }
    .place-item {
      flex-direction: column;
    }
    .arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .name {
      color: #4d46fa;
      font-size: 16px;
      padding: 5px 0;
    }
    .s_m_c {
      justify-content: flex-end;
      .btn-change {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        @include styleButton(
          #f06336,
          #f06336,
          $pd-1 - 5,
          $pd-1 + 1,
          $border-radius-2
        );
        @include styleText($color-white-0, $fs-0 - 1, $fw-bold);
        &:focus {
          outline: none;
        }
        span {
          margin-left: 20px;
        }
      }
    }
  }
  .app-search {
    position: absolute;
    width: 100%;
    left: 0;
    top: 30%;
    z-index: 800;
  }
  .fade {
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    z-index: 700;
    background: #000000bd;
    display: none;
  }
  .list_flight {
    margin-top: 10px;
    .text_filter {
      margin-right: 10px;
    }
    .filter {
      padding: 5px 0;
      align-content: center;
      align-items: center;
      justify-content: flex-end;
    }
    .item-filter {
      width: 12%;
      text-align: right;
      font-size: 12px;
      .infor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        background: white;
        margin: 0 3px;
        padding: 10px 10px;
        border-radius: 12px;
      }
      span {
        svg {
          height: 13px;
        }
      }
    }
  }
  .list_flight_left {
    width: 75%;
    .list_f_c_inner {
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      line-height: 27px;
    }
    .list_f_c {
      background: white;
      padding: 20px;
      margin-bottom: 10px;
      border-radius: 12px;
    }
    .company {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
    }
    .info_plane {
      display: flex;
      flex-direction: column;
    }
    .column {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      align-items: stretch;
    }
    .item_time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      align-content: center;
    }
    .time_count {
      margin: 0 30px;
    }
    .ifffu {
      flex-direction: column;
      align-items: flex-start;
    }
    .price {
      flex-direction: column;
    }
    .collapse-modal {
      min-height: 200px;
      padding: 20px 0;
    }
    .collape {
      .nav-bar {
        text-transform: uppercase;
        font-size: 12px;
        span {
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }
    .line {
      margin: 0 20px;
      svg {
        height: 180px;
        width: 8px;
      }
    }
    .time-detail {
      flex-direction: column;
      justify-content: space-between;

      .item_time {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        align-content: flex-start;
      }
      .time_count {
        margin: 0;
      }
    }
    .place-detail {
      flex-direction: column;
      justify-content: space-between;
      .place-item {
        flex-direction: column;
      }
    }
  }
  .list_flight_right {
    width: 25%;
  }
}
