@import "../../../sass/Base/customize";
@import "../../../sass/Helper/mixin";
@import "../../../sass/Helper/variables";
@import "../../../sass/Components/button";

footer {
  z-index: 998;
  .contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 180px;
    padding-bottom: $pd-3;

    .item {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      .icon {
        padding: 0 $pd-0;
      }
      .line {
        border: 1px solid black;
        width: 40px;
        background: black;
      }
      .text {
        padding-bottom: $pd-0;
        margin-right: $mg-1;
      }
    }
    .left {
      margin-right: $mg-2;
    }
  }
}
